<mat-toolbar color="primary">
  <div class="container d-flex align-items-center">
    <a mat-button routerLink="/books" class="navbar-brand text-white">
      <mat-icon>book</mat-icon>
      Readify
    </a>
    <span class="spacer"></span>
    <nav class="d-none d-md-flex">
      <a mat-button routerLink="/books" routerLinkActive="active" class="text-white">
        <mat-icon>library_books</mat-icon>
        Books
      </a>
      <a mat-button [matMenuTriggerFor]="adminMenu" *ngIf="(isAdmin$ | async)" class="text-white">
        <mat-icon>admin_panel_settings</mat-icon>
        Admin
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <mat-menu #adminMenu="matMenu">
        <a mat-menu-item routerLink="/admin/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-menu-item routerLink="/admin/products">
          <mat-icon>inventory_2</mat-icon>
          <span>Products</span>
        </a>
      </mat-menu>
    </nav>
    <span class="spacer"></span>
    <div *ngIf="!(loggedIn$ | async)">
      <a mat-button routerLink="/login" class="text-white">Login</a>
      <a mat-raised-button color="accent" routerLink="/register">Register</a>
    </div>
    <div *ngIf="(loggedIn$ | async)">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account menu" class="text-white">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
