name: CI

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2019-latest
        env:
          ACCEPT_EULA: 'Y'
          SA_PASSWORD: 'Your_str0ng_P@ssword'
          MSSQL_PID: 'Express'
        ports:
          - 1433:1433
        options: >-
          --memory=3g
          --health-cmd "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P \"Your_str0ng_P@ssword\" -Q \"SELECT 1\""
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10

    strategy:
      matrix:
        dotnet-version: [ '8.0.x' ]
        node-version: [ '20' ]

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: readify-frontend/package-lock.json

    - name: Install frontend deps
      working-directory: readify-frontend
      run: npm ci

    - name: Build frontend
      working-directory: readify-frontend
      run: npm run build --if-present

    - name: Restore backend
      run: dotnet restore

    - name: Install EF tool
      run: dotnet tool install --global dotnet-ef --version 8.*

    - name: Apply EF Migrations
      env:
        ConnectionStrings__DefaultConnection: "Server=localhost,1433;Database=ReadifyDb;User Id=sa;Password=Your_str0ng_P@ssword;TrustServerCertificate=True"
      run: |
        dotnet ef database update --project Readify --startup-project Readify --context AppDbContext

    - name: Build backend
      run: dotnet build --configuration Release

    - name: Run unit/integration tests with coverage
      run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage" Readify.Tests/Readify.Tests.csproj
